<div class="jumbotron jumbotron-extend">
  <div class="container-fluid">
    <h1>Cemal Can Dinça</h1>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">CONTACT ME</a></p>
  </div>
</div>