<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">


<h1>Homes#top</h1>
<p>Find me in app/views/homes/top.html.erb</p>


</div>
</div>
</div>

<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">


<h1>Homes#top</h1>
<p>Find me in app/views/homes/top.html.erb</p>


</div>
</div>
</div>