<h1>お問い合わせフォーム</h1>

  <%= form_with model: @inquiry, url:'/inquiries', local:true do |f| %>
    <div class="form-group">
      <label class="col-sm-3 control-label" for="name1">件名</label>
   　　 <div class="col-sm-6">
      　　<%= f.text_field :title,class:"form-control"%>
    　</div>
    </div>


    <div class="form-group">
       <label class="col-sm-3 control-label" for="ask1">お問い合わせ内容</label>
    　<div class="col-sm-6">
      　　<%= f.text_area :body , class:"form-control" %>
    　</div>
    </div>

    <div class="form-group">
   　  <div class="col-sm-9">
       　<%= f.submit '送信' %>
    　</div>
    </div>

<% end %>